body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  width: 20%;
  margin: 0 auto;
  font-family: 'Sacramento', cursive;

}

h2 {
    font-family: 'Montserrat', sans-serif;

}

h3 {
    font-family: 'Montserrat', sans-serif;

}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 700px;
}

.top-container {
  background-color: #2B3A55;
  color: #fff;
  padding-top: 100px;
}

.middle-container {
 
}

.bottom-container {
}

